.postlist {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.postlist__title {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}